body {
  background-color: #4d4db8;
  background-image: url("/img/xv.png");
  display: grid;
}

.name {
  font-size: 2em;
}

#me {
  font-size: 2.5rem;
}

.menu {
  cursor: pointer;
}

#menu-box {
  width: 150px;
  height: 50px;
  background: rgb(175, 16, 16);
  float: left;
  z-index: 100;
  margin: 20px;
  cursor: pointer;
}

.facts {
  height: 3.4em;
  padding: 12px 20px;
  margin: 5px 5px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 0.9em;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 4px;
  line-height: 2em;
  border: 1px solid #aaa;
  text-decoration: none;
  -webkit-transition: all 0.4s linear;
  -khtml-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.facts:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -khtml-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.main-nav {
  list-style: none;
  display: block;
}

.container {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skill {
  font-size: 1.5rem;
  padding-bottom: 1px;
}

.bio {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.me {
  display: grid;
  margin: 2px;
  padding: 2px;
  border-radius: 4px;
  margin-right: auto;
  margin-left: auto;
}

.box {
  padding: 15px;
  border-radius: 30px;
  text-align: center;
  justify-content: center;
}

ul {
  display: inline-block;
}

.header-s {
  text-align: center;
  border: 50px;
  margin-top: 4px;
  padding-bottom: 1px;
  font-size: 2.5rem;
}

.article {
  text-align: center;
  font-size: 1.7rem;
}

.project {
  text-decoration: underline;
}
.square {
  text-align: center;
  font-size: 1.4rem;
  margin: 0px;
  text-decoration: solid;
}

.sidebar {
  margin: 5px;
  padding: 5px;
  border-radius: 1px;
  font-size: 1.6rem;
  text-align: center;
  margin-left: auto;
  font-weight: 900;
}

.box > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 45%;
  align-items: center;
}

.footer {
  text-align: center;
  padding: 11px;
}

.zone {
  color: black;
  font-size: 1.5rem;
  text-align: left;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.button {
  height: 2em;
  padding: 10px 40px;
  margin: 40px 50px;
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 1em;
  border: 1px solid #eee;
  background: #eee;
  border-radius: 4px;
  line-height: 2em;
  border: 1px solid #aaa;
  text-decoration: none;
  -webkit-transition: all 0.4s linear;
  -khtml-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -khtml-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 35%;
  position: relative;
  margin: auto;
}

/* my photos above about me */
.slider {
  border-radius: 40px;
}

/* Next & previous buttons */
.ss-icon {
  cursor: pointer;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 8px 8px 0;
  user-select: none;
}

/* On hover, add a black background color with a little bit see-through */
.ss-icon:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #0a0a0a;
  font-size: 35px;
  padding: 8px 12px;
  bottom: 8px;
  width: 200%;
  text-align: left;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

/***********************************************************************
 *  Green Background
 **********************************************************************/
.green {
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #cdeb8e),
    color-stop(100%, #a5c956)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #cdeb8e 0%,
    #a5c956 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #cdeb8e 0%,
    #a5c956 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* IE10+ */
  background: linear-gradient(top, #cdeb8e 0%, #a5c956 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdeb8e', endColorstr='#a5c956',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Red Background
**********************************************************************/
.red {
  background: #ff3019; /* Old browsers */
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ff3019),
    color-stop(100%, #cf0404)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #ff3019 0%,
    #cf0404 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ff3019 0%,
    #cf0404 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* IE10+ */
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Yellow Background
**********************************************************************/
.yellow {
  background: #ffd65e; /* Old browsers */
  background: -moz-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #ffd65e),
    color-stop(100%, #febf04)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #ffd65e 0%,
    #febf04 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #ffd65e 0%,
    #febf04 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffd65e 0%, #febf04 100%); /* IE10+ */
  background: linear-gradient(top, #ffd65e 0%, #febf04 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd65e', endColorstr='#febf04',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Grey Background
**********************************************************************/
.grey {
  background: rgb(238, 238, 238); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(238, 238, 238, 1)),
    color-stop(100%, rgba(204, 204, 204, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    left,
    rgba(238, 238, 238, 1) 0%,
    rgba(204, 204, 204, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=1 ); /* IE6-9 */
}

/***********************************************************************
*  Black Background
**********************************************************************/
.black {
  background: #7d7e7d; /* Old browsers */
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7d7e7d),
    color-stop(100%, #0e0e0e)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #7d7e7d 0%,
    #0e0e0e 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* IE10+ */
  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Brown Background
**********************************************************************/
.brown {
  background: #f6e6b4; /* Old browsers */
  background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #f6e6b4),
    color-stop(100%, #ed9017)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #f6e6b4 0%,
    #ed9017 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #f6e6b4 0%,
    #ed9017 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* IE10+ */
  background: linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Blue Background
**********************************************************************/
.blue {
  background: #7abcff; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #7abcff),
    color-stop(44%, #60abf8),
    color-stop(100%, #4096ee)
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* IE10+ */
  background: linear-gradient(
    top,
    #7abcff 0%,
    #60abf8 44%,
    #4096ee 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
}

/***********************************************************************
*  Dark Red Background
**********************************************************************/
.darkred {
  background: rgb(169, 3, 41); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(169, 3, 41, 1)),
    color-stop(44%, rgba(143, 2, 34, 1)),
    color-stop(100%, rgba(109, 0, 25, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    left,
    rgba(169, 3, 41, 1) 0%,
    rgba(143, 2, 34, 1) 44%,
    rgba(109, 0, 25, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=1 ); /* IE6-9 */
}

/***********************************************************************
*  Purple Background
**********************************************************************/
.purple {
  background: rgb(203, 96, 179); /* Old browsers */
  background: -moz-linear-gradient(
    left,
    rgba(203, 96, 179, 1) 0%,
    rgba(173, 18, 131, 1) 50%,
    rgba(222, 71, 172, 1) 100%
  ); /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(203, 96, 179, 1)),
    color-stop(50%, rgba(173, 18, 131, 1)),
    color-stop(100%, rgba(222, 71, 172, 1))
  ); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    left,
    rgba(203, 96, 179, 1) 0%,
    rgba(173, 18, 131, 1) 50%,
    rgba(222, 71, 172, 1) 100%
  ); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    left,
    rgba(203, 96, 179, 1) 0%,
    rgba(173, 18, 131, 1) 50%,
    rgba(222, 71, 172, 1) 100%
  ); /* Opera 11.10+ */
  background: -ms-linear-gradient(
    left,
    rgba(203, 96, 179, 1) 0%,
    rgba(173, 18, 131, 1) 50%,
    rgba(222, 71, 172, 1) 100%
  ); /* IE10+ */
  background: linear-gradient(
    left,
    rgba(203, 96, 179, 1) 0%,
    rgba(173, 18, 131, 1) 50%,
    rgba(222, 71, 172, 1) 100%
  ); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=1 ); /* IE6-9 */
}

@media screen and (max-width: 600px) {
  .main-nav,
  .container {
    font-size: 0.5em;
    padding: 0;
    width: 100%;
  }
}
